services:
  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
      args:
        SCOPE: api
    ports:
      - "3001:3000"
    env_file:
      - ./apps/api/.env
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      args:
        SCOPE: web
    ports:
      - "3000:80"
    depends_on:
      - api
    restart: unless-stopped